@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {

  html {
    font-size: 110%;
  }
}

@media only screen and (min-width: 90em) {

  html {
    font-size: 120%;
  }
}

@media only screen and (min-width: 120em) {

  html {
    font-size: 130%;
  }
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #111A21;
  background-size: 300%;
  font-family: sans-serif;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


.skip-links a{
    position: absolute;
    top: -10em;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 0.5em 0.75em;
    font-size: 1.25em;
}

.skip-links a:focus {
    top: 0;
}



* {
	  box-sizing: border-box;
}

header {
	  background: #000000;
	  height: 110px;
	  padding-top: 7px;
    width: 100%;
    z-index: 4000;
    position: fixed;
}


.inner {
	  max-width: 1000px;
	  margin: 0 auto;
	  position: relative;

}

.logo {
  display: inline-block ;
  min-width: 15%;

}




li {
  font-family: Trade Gothic LT Std, sans-serif;
  font-weight: 100;
  font-size: 16px;
  margin-top: 3rem;
}

nav > ul {
  	float: right;
    padding-right: 2em;
}

nav > ul > li {
  	text-align: center;
	  line-height: 40px;
	  margin-left: 70px;
}

nav > ul li ul li {
	  width: 100%;
  	text-align: left;
}

nav ul li:hover {
	  position: relative;
}
nav ul li:hover > ul {
  	display: block;
}
nav ul li:hover > a {
	  color: #EE473E;
}
nav > ul > li > a {
	  display: block;
  	outline: none;
  	width: 100%;
	  text-decoration: none;
}

nav > ul > li {
  	float: left;
}
nav a {
	  color: white;
    font-family: Trade Gothic LT Std, sans-serif;
}
nav > ul li ul {
  	display: none;
  	position: absolute;
  	left: 0;
	  top: 100%;
  	width: 100%;
	  z-index: 2000;
}
nav > ul li ul li > a {
	  text-decoration: none;
}

[type="checkbox"], label {
	  display: none;
}



.parallax {
    height: 300px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

h1 {
  font-family: Trade Gothic LT Std, sans-serif;
  font-size: 72px;
  text-align: center;
  font-weight: 600;
}

h2 {
  font-family: Trade Gothic LT Std, sans-serif;
  font-weight: 300;
  font-size: 55px;
  color: white
}

h3 {
  font-family: Trade Gothic LT Std, sans-serif;
  font-weight: 100;
  color: white;
  font-size: 21px;
  padding-top: 8px;
}

h4 {
  font-family: Trade Gothic LT Std, sans-serif;
  font-weight: 300;
  text-align: center;
}


p {
  text-align: justify;
  font-family: Trade Gothic LT Std, sans-serif;
  font-weight: 100;
  color: white;
  font-size: 16px;
}

img {
  padding: 2em;
}

ol {
  text-align: justify;
  font-family: Trade Gothic LT Std, sans-serif;
  font-weight: 100;
  color: white;
  font-size: 14px;
  margin-top: 1em;
  margin-left: 15px;
}

.contact {
  margin-left: 3rem;
}

.button {
  display: inline-block;
  background-color: #EE473E;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 18px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  font-family: Trade Gothic LT Std, sans-serif;
  font-weight: 100;
  font-size: 16px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


.box-content {
  padding: 20px;
  padding-top: 5em;
}

.button2 {
  align-content: center;
  padding: 3em;
  margin: 0 auto;
  display: flex;
}

.icon {
  align-content: center;
  margin: 0 auto;
  display: inline-flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 2em;
}



body { margin: 0; background:; }
header2 {
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
  margin-left: 8rem;
  margin-right: 8rem;
}
header2 div {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 200px;
  margin: .5vw;
}
header2 div img {
  width: 100%;
  height: auto;
}

header3 {
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}
header3 div {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 200px;
  margin: .5vw;
}
header3 div img {
  width: 100%;
  height: auto;
}

header4 {
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
  align-content: center;
  margin-left: 8rem;
  margin-right: 8rem;

}
header4 div {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 200px;
  margin: .5vw;
}
header4 div img {
  width: 100%;
  height: auto;

}


header5 {
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
  margin-left: 8rem;
  margin-right: 8rem;
}
header5 div {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 200px;
  margin: .5vw;
}
header5 div img {
  width: 100%;
  height: auto;
}


header6 {
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
  margin-left: 7rem;
  margin-right: 7rem;
}
header6 div {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 200px;
  margin: .5vw;
}
header6 div img {
  width: 100%;
  height: auto;
}

.title {
  color: #EF3A24;
}

.solution {
  margin-top: 2rem;
  margin-bottom: 0;
}


.billboard{
    display: flex;
    justify-content: center;
    align-items: center;

}

    .billboard--img{
        background-repeat: no-repeat;
        background-size: cover;

    }

    .billboard--tint{
        position: relative;
        &:before{
            content:"";
            background: rgba(5,,0,1);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 0;
        }
    }

    .billboard__content{
        max-width: 50%;
        width: 1200px;
        padding: 0px;

    }

    .billboard2{
        display: flex;
        justify-content: center;
        align-items: center;
    }



    .billboard2__content{
        max-width: 50%;
        width: 1200px;
        padding: 25px;
        z-index: 1;
    }

    .billboard3{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }



    .billboard3__content{
        max-width: 50%;
        width: 1200px;
        padding: 25px;
        z-index: 1;
    }


.skill {
  width: 100px;

}

.video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }
    .video-container iframe,
    .video-container object,
    .video-contaienr embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 75%;
        align-content: center;
    }


.billboard{ background-color: black; color: white; min-height: 650px; }
.billboard2{ background-color: black; color: white; min-height: 450px; }
.billboard3{ background-color: black; color: white; min-height: 250px; }

*{ box-sizing:border-box; margin: 0; padding: 0; }

@import url('http://fonts.googleapis.com/css?family=Lato:300');
@import url('http://weloveiconfonts.com/api/?family=entypo');

.content {
  padding: 30px;
  font: 300 40px Lato, sans-serif;
  text-align: left;
  color: #999;
  background: #000000;
}

.footer {
  padding: 20px 0;
  text-align: left;
  padding-left: 2em;
}

.social {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 0 10px;
  line-height: 70px;
  font-family: Trade Gothic LT Std, sans-serif;
  font-weight: 600;
  font-size: 35px;
  text-align: center;
  color: #000000;
  border-radius: 50%;
  background: #EE473E;
  overflow: hidden;
  transition: color .3s;
}

.social:hover {
  color: #59d;
  cursor: pointer;
}

.button2 {
  align-content: center;
  padding: 1em;
  margin: 0 auto;
  display: flex;
  padding-right: 6em;
}

.buttonstyle {
  margin-left: 5px;
  margin-right: 5px;

}

.icon {
  align-content: center;
  margin: 0 auto;
  display: inline-flex;
  margin-top: 0;
  margin-bottom: 0;
}








@media only screen and (min-width: 60em) {
.solution {
  margin-left: 5rem;
  margin-right: 5rem;
}

h1 {
  font-family: Trade Gothic LT Std, sans-serif;
  font-size: px;

}



}

@media only screen and (max-width: 90em) {

.logo {
  width: 35%;
}

.parallax {
    height: 100px;
  }


}

@media only screen and (min-width: 120em) {


}

@media screen and (max-width: 400px) {
  header2 div { margin: 0; }
  header2 {
    padding: 0;
    margin: 0;

  }

  h1 {
    font-family: Trade Gothic LT Std, sans-serif;
    font-size: 42px;
    font-weight: 600;
    text-align: center;
  }

  .billboard h1 {
    font-family: Trade Gothic LT Std, sans-serif;

    font-weight: 600;
    padding-top: 8rem;
    text-align: center;
  }

h2 {
  font-size: 35px;
}

  h4 {
    font-family: Trade Gothic LT Std, sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 16px;
  }


button {
  margin-bottom: 10px;
  margin-left: 5px;
}

header2 h3 {
  margin-left: 5px;
}

header2 {
  margin-top: 10px;
}

header4 {
  padding: 0;
  margin: 0;
}

header4 div {
  width: 200px;
}
header4 div img {
  width: 100%;

}

header5 {
  margin: 0;
  padding: 0;
}

header5 div {
  width: 200px;
}
header5 div img {
  width: 100%;

}

header6 {
  margin: 0;
  padding: 0;
}

header6 div {
  width: 200px;
}
header6 div img {
  width: 100%;

}


}



@media only screen and (min-width: 720px) {
  .boxes {
    display: table;
    width: 100%;
    padding-left: 10em;
    padding-right: 10em;
  }

  .box-row {
    display: table-row;
  }

  .box-cell {
    display: table-cell;
    vertical-align: top;
    width: 33.333333333%;

    &.one {
      border-right: 5px solid #fff;
    }

    &.two {
      border-left: 5px solid #fff;
      border-right: 5px solid #fff;
    }

    &.three {
      border-left: 5px solid #fff;
    }


  }
  .logo {
    width: 5%;
  }

}

@media screen and (max-width: 768px) {


	nav ul {
		  display: none;
	}


	label {
  		display: block;
  		background: #000000;
		  width: 40px;
  		height: 40px;
  		cursor: pointer;
		  position: absolute;
		  right: 20px;
  		top: 0px;
	}

label:after{
  content:'';
  display: block;
  width: 30px;
  height: 5px;
  background: #FFFFFF;
  margin: 30px 5px;
  box-shadow: 0px 10px 0px #FFFFFF, 0px 20px 0px #FFFFFF
}

	[type="checkbox"]:checked ~ ul {
  		display: block;
  		z-index: 9999;
  		position: absolute;
		  right: 20px;
		  left: 20px;
	}

	nav a {
		  color: #FFFFFF;
	}

	nav ul li {
		  display: block;
  		float: none;
  		width: 100%;
  		text-align: left;
  		background: #000000;
		  text-indent: 20px;
	}

	nav > ul > li {
  		margin-left: 0px;
	}

	nav > ul li ul li {
  		display: block;
		  float: none;
	}

	nav > ul li ul {
		  display: block;
  		position: relative;
  		width: 100%;
		  z-index: 9999;
		  float: none;
	}

}
